[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

boto3 = "==1.7.27"
flask = "==1.0.2"
flask-sqlalchemy = "==2.3.2"
gunicorn = "==19.8.1"


[dev-packages]

pylint = "==1.9.1"
coverage = "==4.5.1"
codecov = "==2.0.15"
tox = "==3.0.0"
faker = "==0.8.15"


[requires]

python_version = "3.6"
