[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiokafka = "==0.5.2"
boto3 = "==1.9.215"
flask = "==1.1.1"
psycopg2-binary = ">=2.7.0"
gunicorn = "==19.9.0"
celery = "==4.3.0"
requests = ">=2.20.0"
beautifulsoup4 = "==4.8.0"
psutil = "==5.6.3"
sqlalchemy = "==1.3.7"
prometheus-client = "==0.7.1"
prometheus-flask-exporter = "==0.9.1"
celery-prometheus-exporter = "==1.7.0"
soupsieve = "==1.9.3"
watchtower = "==0.7.2"


[dev-packages]

pylint = "==2.3.1"
astroid = "==2.2.5"
coverage = "==4.5.4"
codecov = "==2.0.15"
requests-mock = "==1.6.0"
tox = "==3.13.2"
faker = "==1.0.7"
pyfakefs = "==3.5.8"
flower = "==0.9.3"
responses = "==0.10.6"
flake8 = "==3.7.7"


[requires]

python_version = "3.6"
