NAME=masu
NAMESPACE=myproject
BUILD_MEMORY_LIMIT=1Gi
CELERY_FLOWER_REPLICAS=1
CELERY_FLOWER_CPU_REQUEST=500m
CELERY_FLOWER_CPU_LIMIT=1
CELERY_FLOWER_MEMORY_REQUEST=512Mi
CELERY_FLOWER_MEMORY_LIMIT=1Gi
DATABASE_SERVICE_NAME=koku-pgsql
PIP_INDEX_URL=
PIPENV_PYPI_MIRROR=
SOURCE_REPOSITORY_URL=https://github.com/project-koku/masu.git
SOURCE_REPOSITORY_REF=
CONTEXT_DIR=openshift/flower
APPLICATION_DOMAIN=
