NAME=masu
NAMESPACE=myproject
BUILD_MEMORY_LIMIT=1Gi
LISTENER_REPLICAS=1
LISTENER_CPU_REQUEST=500m
LISTENER_CPU_LIMIT=1
LISTENER_MEMORY_REQUEST=512Mi
LISTENER_MEMORY_LIMIT=1Gi
DATABASE_SERVICE_NAME=koku-pgsql
PIP_INDEX_URL=
PIPENV_PYPI_MIRROR=
SOURCE_REPOSITORY_URL=https://github.com/project-koku/masu.git
SOURCE_REPOSITORY_REF=
CONTEXT_DIR=
VOLUME_CAPACITY=5Gi
