NAME=masu
NAMESPACE=myproject
BUILD_MEMORY_LIMIT=1Gi
DATABASE_SERVICE_NAME=koku-pgsql
MASU_CPU_REQUEST=500m
MASU_CPU_LIMIT=1
MASU_MEMORY_REQUEST=512Mi
MASU_MEMORY_LIMIT=1Gi
PIP_INDEX_URL=
PIPENV_PYPI_MIRROR=
SOURCE_REPOSITORY_URL=https://github.com/project-koku/masu.git
SOURCE_REPOSITORY_REF=
CONTEXT_DIR=
APPLICATION_DOMAIN=
